body{

background-color: #F2DDCD;


}

h1{

color:brown;
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}

#encabezado{

color:brown;
font-family: Arial, Helvetica, sans-serif;
}

.centrado{

 text-align: center;

}

.izquierda{

    text-align: left;
   
}


.derecha{

    text-align: right;
   
}


ul{

list-style: none;

}

a{

font-size: 30px;

}

p{

color: #CA2B2B;
font-weight: bold;


}

div {

  border-right: 1px solid black;
  width: 100;
  Height :400px
}